#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.samosa {
  height: 15em;
  padding: 1.5em;
  margin: 0 auto;
  will-change: filter;
  transition: filter 300ms;
  text-align: center;
}
/* .samosa:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} */

.samosa:hover {
  filter: drop-shadow(0 0 2em #6c8127);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .samosa {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.theme{
  height: 2em ;
  /* width: auto; */
  display: flex;
  flex-direction: row-reverse;
  /* background-color: peachpuff; */
  align-items: end;
  gap: 1em;
}

.theme_icon {

  height: 2em;

}

.theme h4 {
  align-self: center;
  font-weight:900;
  color: #fbe8a9;
}