#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.dark-theme{
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  .samosa:hover {
  filter: drop-shadow(0 0 2em #6c8127);
}
}

.light-theme{
  color: #213547;
  background-color: #ffffff;
  .samosa:hover {
  filter: drop-shadow(0 0 2em #a43d12);
  } 
  .theme h4 {
  color: #d8b77f;
}
}


.samosa {
  height: 15em;
  padding: 1.5em;
  margin: 0 auto;
  will-change: filter;
  transition: filter 300ms;
  text-align: center;
}




/* .samosa:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} */

.samosa:hover {
  filter: drop-shadow(0 0 2em #6c8127);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .samosa {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.theme{
  height: 2em ;
  /* width: auto; */
  display: flex;
  flex-direction: row-reverse;
  /* background-color: peachpuff; */
  align-items: end;
  gap: 1em;
}

.theme_icon {

  height: 2em;

}

.theme h4 {
  align-self: center;
  font-weight:900;
  color: #fbe8a9;
}

.container{
/* background-color: aqua; */
  display:flex;
  margin-top: 3em;
  justify-content: center;
  gap: 2em;
}

.upgrade {
  border: 1px solid rgba(153, 153, 153, 0.497);
  border-radius: 2em ;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-right: 25px;
  width: 200px;
  line-height: 0.5;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color:  rgba(255, 255, 255, 0.87);
  cursor: pointer;
  margin-top: 10px;
}